body {
    bottom: 0;
    font-family: "Arial";
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.color-box {
	float: left;
	width: 30px;
	height: 15px;
	margin: 5px 5px 5px 0;
	border: 1px solid black;
	display: block;
}

.submenu {
	clear: both;
}

#document_presets input{
	width:50px;
}

#sidebar_wrapper {
	display: block;
	float: left;
	width: 260px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	padding: 0 20px;
	border-right: solid gray 1px;
}

#sidebar {

}



#content {
   display: block;
    height: 100%;
    padding-left: 300px;
}

#canvas_wrapper{
	height: 100%;
    width: 100%;
    overflow: hidden;
}

.buttonlink{
	
}

.buttonlink:hover{
	cursor:pointer;
	text-decoration: underline;
}

ul#navigation{
	padding:0;
	border-bottom: solid 1px black;
}

#navigation li:last-child{
position:relative;
right:1px;	
}

#navigation li{
	float:left;
	text-decoration:none;
	font-style:none;
	list-style-type: none;
	text-align: center;
	margin-bottom:10px;
}

#navigation li a{
	padding:10px 10px 10px 10px;
	background-color:white;
	style:block;
	height:35px;
	width:calc(50%-20px);
	border-top: solid 1px black;
	border-right: solid 1px black;
	border-left: solid 1px black;
}
