body, html {
	bottom: 0;//
	font-family: "Arial";
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	left: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 19px;
}

h1 {
	font-weight: 300;
	font-size: 26.5px;
}

h1 .secondpart {
	font-weight: 600;
}

.color-box {
	float: left;
	width: 28px;
	height: 15px;
	margin: 5px 5px 5px 0;
	border: 1px solid black;
	display: block;
	cursor: pointer;
}

.color-box-joints, .color-box-weights_preview {
	width: 65px;
	height: 15px;
	margin: 0 0px 0 0;
	border: 1px solid black;
	display: inline-block;
	position: relative;
	top: 3px;
}

.color-box-joints {
	cursor: pointer;
}

.submenu {
	clear: both;
}

.smallinput {
	width: 40px;
	border: none;
	border-bottom: solid 1px lightgray;
}

#sidebar_wrapper {
	display: block;
	float: left;
	width: 250px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 0 20px;//
	border-right: solid gray 1px;
}

#sidebar {

}

#content {
	display: block;
	height: 100%;
	padding-left: 300px;
}

#canvas_wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.buttonlink {

}

.buttonlink:hover {
	cursor: pointer;
	text-decoration: underline;
}

ul#navigation {
	padding: 0;
	border-bottom: solid 1px black;
}

#navigation li:last-child {
	position: relative;
	right: 1px;
}

#navigation li {
	float: left;
	text-decoration: none;
	font-style: none;
	list-style-type: none;
	text-align: center;
	margin-bottom: 10px;
}

#navigation li a {
	padding: 10px 10px 10px 10px;
	background-color: white;
	style: block;
	height: 35px;
	width: calc(50%-20px);
	border-top: solid 1px black;
	border-right: solid 1px black;
	border-left: solid 1px black;
}

#input_img {
	width: 220px;
}

.inputpart {
	clear: both;
	float: right;
}

.inputline {
	clear: both;
}

.smallinput {
	text-align: right;
}

.small_info {
	font-size: 95%;
	color: gray;
}

select#drawmode {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	border: none;
	font-size: 19px;
}

#drawmode option {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 19px;
	padding-right: 10px;
}

h3 {

}

.color-box-weights {
	float: left;
	margin: 5px 5px 5px 0;
	height: 120px;
	width: 30px;
}

.smallinput_weight {
	width: 28px;
	margin-right: 5px;
	border: none;
	border-bottom: solid 1px lightgray;
	clear: both;
	float: left;
	text-align: center;
}

input.vertical {
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
	float: left;
	margin: 0 5px 5px 0px;
	padding: 0;
	height:100%;
	width: 100%;
}

.percentage{
	float: left;
    display: block;
    height: 146px;
    margin: 5px 0 0;
    position: relative;
    width: 28px;
}

.percentage span{
	position:absolute;
	bottom:0px;
}

#save{
	margin-top:20px;
}
